@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'mono';
	src: url('/fonts/mono-extralight.ttf') format('truetype');
	font-weight: 300;
	font-style: regular;
}

@font-face {
	font-family: 'mono';
	src: url('/fonts/mono-light.ttf') format('truetype');
	font-weight: 600;
	font-style: regular;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'mono', monospace;
	font-stretch: 200%;
}

.glass {
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	@apply border border-neutral-600 bg-neutral-800/60 shadow-sm;
}

@keyframe spinNew {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
